@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-primary: #c50c40;
  --clr-secondary: #f6cd00;
  --clr-footer: #800628;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  background-color: #f1f1f1;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary);
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}

.header img {
  width: 200px;
  height: auto;
}

.header__title {
  color: #fff;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.button {
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  background: none;
  border: none;
  outline: none;
  transition: all 0.4s;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.active {
  color: var(--clr-secondary);
}

.main {
  padding: 2rem;
}

.home__section,
.contact__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: justify;
  max-width: 900px;
  margin: 0 auto;
}

.home__section p {
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  font-size: 1.1rem;
}

.home__section p:first-child {
  font-weight: bold;
}

.home__img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  align-self: center;
  box-shadow: 0px 7px 10px -3px rgba(0, 0, 0, 0.6);
}

.home__section h2 {
  text-align: center;
}

.hours__container {
  color: white;
  background-color: var(--clr-primary);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 7px 10px -3px rgba(0, 0, 0, 0.6);
}

.hours__container ul {
  width: 90%;
}

.hours__container li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  padding: 2rem;
  background-color: var(--clr-primary);
  color: #fff;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  min-height: 350px;
  padding: 2rem 1rem; 
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.menu-item img {
    width: 100%;
    max-width: 500px;
    border-radius: 0.5rem;
}

.menu-item:hover {
    background-color: #e6255b;
}

.contact__section {
  color: #fff;
  background-color: var(--clr-primary);
  padding: 2rem;
  box-shadow: 0px 7px 10px -3px rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
}

.contact__section img {
  border-radius: 0.5rem;
}

.footer {
  padding: 2rem;
  background-color: var(--clr-footer);
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  color: #ffe357;
  transition: all 0.4s;
}

.footer a:hover {
  transform: translateY(-2px);
}
